<!DOCTYPE html>
<html lang="en" style="height: 100%;">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.zhimg.com/element-ui@2.14.1/lib/theme-chalk/index.css">
</head>
<body style="height: 100%; margin: 0">
<div id="app" style="height: 100%">
    <el-container :style="{height: '100%', overflow: 'hidden'}">
        <el-aside :style="{background: '#545c64'}">
            <el-container>
                <el-main>
                    <nav-bar @select-change="handleSelectChange"></nav-bar>
                </el-main>
                <el-footer>

                </el-footer>
            </el-container>
        </el-aside>
        <el-main :style="{height: '100%', overflow: 'auto'}">
            <div style="padding: 20px;">
                <component :is="activeComponentName"></component>
            </div>
        </el-main>
    </el-container>
</div>
<!-- Vue -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<!-- 引入Element组件库 -->
<script src="https://unpkg.zhimg.com/element-ui/lib/index.js"></script>
<!-- 引入axios -->
<script src="https://unpkg.zhimg.com/axios/dist/axios.min.js"></script>
<!-- 客户信息组件
     接收数据：prop:{info}
     发送数据：post-customer-info
-->
<template id="customerInfo">
    <div @mouseleave="postInfo">
        <el-row :gutter="20">
            <el-col :span="16">
                <label>身份证号</label>
                <el-input v-model="idcard" placeholder="身份证号"></el-input>
            </el-col>
            <el-col :span="8">
                <label>用户性质</label>
                <br>
                <el-select v-model="customerType" clearable placeholder="用户性质">
                    <el-option
                            v-for="option in customerTypeOptions"
                            :key="option.value"
                            :label="option.label"
                            :value="option.value">
                    </el-option>
                </el-select>
            </el-col>
        </el-row>
        <br>
        <el-row :gutter="20">
            <el-col :span="8">
                <label>单位名称</label>
                <el-input v-model="companyName" placeholder="单位名称"></el-input>
            </el-col>
            <el-col :span="8">
                <label>联系方式</label>
                <el-input v-model="phone" placeholder="联系方式"></el-input>
            </el-col>
            <el-col :span="8">
                <label>联系人</label>
                <el-input v-model="customerName" placeholder="联系人"></el-input>
            </el-col>
        </el-row>
        <br>
        <el-row :gutter="20">
            <el-col :span="24">
                <label>e-mail</label>
                <el-input v-model="email" placeholder="e-mail"></el-input>
            </el-col>
        </el-row>
        <br>
        <el-row :gutter="20">
            <el-col :span="24">
                <label>客户地址</label>
                <el-input v-model="address" placeholder="客户地址"></el-input>
            </el-col>
        </el-row>
    </div>
</template>
<script>
    var customerInfo = {
        template: '#customerInfo',
        props: [
            'info'
        ],
        data: function (){
            return{
                id: '',
                idcard: '',
                customerType: '',
                customerTypeOptions: [{
                    label: '家庭用户',
                    value: '家庭用户'
                },{
                    label: '单位用户',
                    value: '单位用户'
                },{
                    label: '代理商',
                    value: '代理商'
                },{
                    label: '签约用户',
                    value: '签约用户'
                }],
                companyName: '',
                phone: '',
                customerName: '',
                email: '',
                address: ''
            }
        },
        methods: {
            postInfo: function (){
                var info = {
                    id: this.id,
                    idcard: this.idcard,
                    customerType: this.customerType,
                    companyName: this.companyName,
                    phone: this.phone,
                    customerName: this.customerName,
                    email: this.email,
                    address: this.address
                };
                this.$emit('post-customer-info',info);
                console.log(info);

            }
        },
        watch: {
            info (){
                this.id = this.info.id;
                this.idcard = this.info.idcard;
                this.customerType = this.info.customerType;
                this.companyName = this.info.companyName;
                this.phone = this.info.phone;
                this.customerName = this.info.customerName;
                this.email = this.info.email;
                this.address = this.info.address;
                console.log('watch execute')
            }
        }
    }
</script>

<!-- 客户信息显示组件
     接收数据：prop:{info}
     发送数据：post-customer-info
-->
<template id="customerInfoReadOnly">
    <div>
        <el-row :gutter="20">
            <el-col :span="8">
                <span>身份证号：{{idcard}}</span>
            </el-col>
            <el-col :span="8">
                <span>客户类型：{{customerType}}</span>
            </el-col>
            <el-col :span="8">
                <span>单位名称：{{companyName}}</span>
            </el-col>
        </el-row>
        <el-row :gutter="20">
            <el-col :span="8">
                <span>联系人：{{customerName}}</span>
            </el-col>
            <el-col :span="8">
                <span>联系电话：{{phone}}</span>
            </el-col>
            <el-col :span="8">
                <span>e-mail：{{email}}</span>
            </el-col>
        </el-row>
        <el-row :gutter="20">
            <el-col :span="16">
                <span>地址：{{address}}</span>
            </el-col>
        </el-row>
    </div>
</template>
<script>
    var customerInfoReadOnly = {
        template: '#customerInfoReadOnly',
        data: function () {
            return {
                id: '',
                idcard: '',
                customerType: '',
                companyName: '',
                customerName: '',
                phone: '',
                email: '',
                address: ''
            }
        },
        methods: {
            postInfo: function (){
                var info = {};
                this.$emit('post-customer-info',info);
            }
        },
        props: [
            'info'
        ],
        watch: {
            info() {
                this.idcard = this.info.idcard;
                this.customerType = this.info.customerType;
                this.companyName = this.info.companyName;
                this.customerName = this.info.customerName;
                this.phone = this.info.phone;
                this.email = this.info.email;
                this.address = this.info.address;
            }
        }
    }
</script>

<!-- 用户筛选器组件
     发送数据：post-row
-->
<template id="customerFilter">
    <div>
        <el-row :gutter="20">
            <el-col :span="8">
                <el-input v-model="idcard" placeholder="身份证号"></el-input>
            </el-col>
            <el-col :span="8">
                <el-input v-model="phoneNumber" placeholder="移动电话"></el-input>
            </el-col>
            <el-col :span="8">
                <el-button @click="handleSearch" type="primary" icon="el-icon-search">搜索</el-button>
            </el-col>
        </el-row>
        <el-row :gutter="20">
            <el-col :span="24">
                <el-table
                    stripe
                    v-loading="loading"
                    :data="customerData"
                    highlight-current-row
                    @row-click="handleCurrentChange"
                    width="100%">
                    <el-table-column
                            type="index"
                            fixed="left"
                    ></el-table-column>
                    <el-table-column
                            label="联系人"
                            prop="customerName"
                            fixed="left"
                    ></el-table-column>
                    <el-table-column
                            label="移动电话"
                            prop="phone"
                            fixed="left"
                    ></el-table-column>
                    <el-table-column
                            label="身份证号"
                            prop="idcard"
                    ></el-table-column>
                    <el-table-column
                            label="客户性质"
                            prop="customerType"
                    ></el-table-column>
                    <el-table-column
                            label="单位名称"
                            prop="companyName"
                    ></el-table-column>
                    <el-table-column
                            label="e-mail"
                            prop="email"
                    ></el-table-column>
                    <el-table-column
                            label="地址"
                            prop="address"
                    ></el-table-column>
                </el-table>
                <el-pagination
                        layout="prev, pager, next"
                        page-size=5
                        :total=customerDataCount
                        current-page=1
                        @current-change="handlePageChange">
                </el-pagination>
            </el-col>
        </el-row>
    </div>
</template>
<script>
    var customerFilter = {
        template: '#customerFilter',
        data: function (){
            return {
                customerName: '',
                phoneNumber: '',
                idcard: '',
                customerData: [],
                customerDataCount: 0,
                currentRow:{},
                loading: true
            }
        },
        methods: {
            handleCurrentChange: function (currentRow, oldCurrentRow){
                this.currentRow = currentRow;
                this.$emit('post-row',this.currentRow);
                //console.log("handelCurrentChange:")
                //console.log(this.currentRow);
            },
            handleSearch: function () {
                this.loading = true;
                var param = new URLSearchParams();
                param.append('idcard',this.idcard);
                param.append('phone',this.phoneNumber);
                param.append('currentPage',1);
                var that = this;
                axios.post("/Devices/getCustomerInfo",param).then(function (response) {
                    var data = JSON.parse(response.data).data;
                    //that.customerData.splice(0);
                    //that.customerData.push(data);
                    that.customerData = data;
                    that.customerDataCount = +(JSON.parse(response.data).message);
                    console.log(data);
                    that.loading = false;
                });
            },
            handlePageChange: function (current){
                this.loading = true;
                var param = new URLSearchParams();
                param.append('idcard',this.idcard);
                param.append('phone',this.phoneNumber);
                param.append('currentPage',current);
                var that = this;
                axios.post("/Devices/getCustomerInfo",param).then(function (response) {
                    var data = JSON.parse(response.data).data;
                    //that.customerData.splice(0);
                    //that.customerData.push(data);
                    that.customerData = data;
                    that.customerDataCount = +(JSON.parse(response.data).message);
                    console.log(data);
                    that.loading = false;
                });
            }
        },
        created(){
            this.handleSearch();
        }
    }
</script>

<!-- 设备信息组件
     接收数据：props['info']
     发送数据：post-device-info
-->
<template id="deviceInfo">
    <div @mouseleave="postInfo">
        <el-row :gutter="20">
            <el-col :span="6">
                <label>设备类型</label>
                <br>
                <el-select v-model="deviceType" clearable placeholder="请选择设备类型">
                    <el-option
                            v-for="option in deviceTypeOptions"
                            :key="option.value"
                            :value="option.value"
                            :label="option.label">
                    </el-option>
                </el-select>
            </el-col>
            <el-col :span="6">
                <label>设备品牌</label>
                <el-input v-model="deviceBrand" placeholder="设备品牌"></el-input>
            </el-col>
            <el-col :span="6">
                <label>设备型号</label>
                <el-input v-model="deviceModel" placeholder="设备型号"></el-input>
            </el-col>
            <el-col :span="6">
                <label>设备系列号</label>
                <el-input v-model="deviceSeries" placeholder="设备系列号"></el-input>
            </el-col>
        </el-row>
        <br>
        <!--
        <el-row :gutter="20">
            <el-col :span="24">
                <el-input v-model="lackedComponent" placeholder="缺少零件"></el-input>
            </el-col>
        </el-row>
        <br>
        -->
        <el-row :gutter="20">
            <el-col :span="6">
                <label>故障类型</label>
                <br>
                <el-select v-model="faultType" clearable placeholder="故障类型">
                    <el-option
                            v-for="option in faultTypeOptions"
                            :key="option.value"
                            :label="option.label"
                            :value="option.value">
                    </el-option>
                </el-select>
            </el-col>
        </el-row>
        <br>
        <!--
        <el-row :gutter="20">
            <el-col :span="24">
                <el-input v-model="faultDescription" placeholder="故障描述"></el-input>
            </el-col>
        </el-row>
        <br>
        -->
        <el-row :gutter="20">
            <el-col :span="8">
                <label>HDD</label>
                <el-input v-model="hdd" placeholder="HDD"></el-input>
            </el-col>
            <el-col :span="8">
                <label>内存</label>
                <el-input v-model="ram" placeholder="内存"></el-input>
            </el-col>
            <el-col :span="8">
                <label>AC适配器</label>
                <el-input v-model="ACadapter" placeholder="AC适配器"></el-input>
            </el-col>
        </el-row>
        <br>
        <el-row :gutter="20">
            <el-col :span="8">
                <label>电池</label>
                <el-input v-model="battery" placeholder="电池"></el-input>
            </el-col>
            <el-col :span="8">
                <label>外接光驱</label>
                <el-input v-model="CDROM" placeholder="外接光驱"></el-input>
            </el-col>
        </el-row>
    </div>
</template>
<script>
    var deviceInfo = {
        template: '#deviceInfo',
        props: [
            'info'
        ],
        data: function (){
            return {
                deviceId: '',
                deviceType: '',
                deviceTypeOptions: [{
                    label: '台式机',
                    value: '台式机'
                },{
                    label: '笔记本',
                    value: '笔记本'
                },{
                    label: '投影仪',
                    value: '投影仪'
                },{
                    label: '打印机',
                    value: '打印机'
                },{
                    label: '其他',
                    value: '其他'
                }],
                deviceBrand: '',
                deviceModel: '',
                deviceSeries: '',
                //lackedComponent: '',
                //faultDescription: '',
                faultType: '',
                faultTypeOptions: [{
                    label: '固定性故障',
                    value: '固定性故障'
                },{
                    label: '间歇性故障',
                    value: '间歇性故障'
                }],
                hdd: '',
                ram: '',
                ACadapter: '',
                battery: '',
                CDROM: ''
            }
        },
        methods: {
            postInfo: function (){
                var info = {
                    deviceId: this.deviceId,
                    deviceType: this.deviceType,
                    deviceBrand: this.deviceBrand,
                    deviceModel: this.deviceModel,
                    deviceSeries: this.deviceSeries,
                    lackedComponent: this.lackedComponent,
                    faultType: this.faultType,
                    faultDescription: this.faultDescription,
                    hdd: this.hdd,
                    ram: this.ram,
                    ACadapter: this.ACadapter,
                    battery: this.battery,
                    CDROM: this.CDROM
                };
                this.$emit('post-device-info',info);
            }
        },
        watch: {
            info: function (){
                this.deviceId = this.info.deviceId;
                this.deviceType = this.info.deviceType;
                this.deviceBrand = this.info.deviceBrand;
                this.deviceModel = this.info.deviceModel;
                this.deviceSeries = this.info.deviceSeries;
                this.faultType = this.info.faultType;
                this.hdd = this.info.hdd;
                this.ram = this.info.ram;
                this.ACadapter = this.info.ACadapter;
                this.battery = this.info.battery;
                this.CDROM = this.info.CDROM;
            }
        }
    }
</script>

<!-- 报修信息组件
     接收数据：props['info']
     发送数据：post-report-info
-->
<template id="reportInfo">
    <div @mouseleave="postInfo">
        <el-row :gutter="20">
            <el-col :span="8">
                <label>报修时间</label>
                <el-input v-model="reportTime" placeholder="报修时间"></el-input>
            </el-col>
            <el-col :span="8">
                <label>预估完成时间</label>
                <el-input v-model="estimateCompleteTime" placeholder="预估完成时间"></el-input>
            </el-col>
            <el-col :span="8">
                <label>报修状态</label>
                <br>
                <el-select v-model="reportStatus" clearable placeholder="报修状态">
                    <el-option
                            v-for="option in reportStatusOptions"
                            :key="option.value"
                            :label="option.label"
                            :value="option.value">
                    </el-option>
                </el-select>
            </el-col>
        </el-row>
    </div>
</template>
<script>
    var reportInfo = {
        template: '#reportInfo',
        props: [
            'info'
        ],
        data: function (){
            return {
                reportId: '',
                reportTime: '',
                //estimateCost: '',
                estimateCompleteTime: '',
                reportStatus: '',
                reportStatusOptions: [{
                    label: '进行中',
                    value: '1'
                },{
                    label: '结束',
                    value: '2'
                },{
                    label: '撤销',
                    value: '3'
                }]
            }
        },
        methods: {
            postInfo: function (){
                var info = {
                    reportId: this.reportId,
                    reportTime: this.reportTime,
                    //estimateCost: this.estimateCost,
                    estimateCompleteTime: this.estimateCompleteTime,
                    reportStatus: this.reportStatus
                };
                this.$emit('post-report-info',info);
            }
        },
        watch: {
            info :function (){
                this.reportId = this.info.reportId;
                this.reportTime = this.info.reportTime;
                this.estimateCompleteTime = this.info.estimateCompleteTime;
                this.reportStatus = this.reportStatusOptions[this.info.reportStatus-1].value;
            }
        }
    }
</script>

<!-- 报修信息筛选器组件
     发送数据：post-row
 -->
<template id="reportInfoFilter">
    <div>
        <el-row :gutter="20">
            <el-col :span="4">
                <el-input v-model="customerName" placeholder="联系人"></el-input>
            </el-col>
            <el-col :span="4">
                <el-input v-model="phone" placeholder="移动电话"></el-input>
            </el-col>
            <el-col :span="4">
                <el-input v-model="reportTime" placeholder="报修时间"></el-input>
            </el-col>
            <el-col :span="4">
                <el-button type="primary" icon="el-icon-search" @click="handleSearch">搜索</el-button>
            </el-col>
        </el-row>
        <el-row>
            <el-col :span="24">
                <el-table
                        stripe
                        v-loading="loading"
                        :data="reportData"
                        highlight-current-row
                        @row-click="handleCurrentChange"
                        width="100%">
                    <el-table-column
                            label="联系人"
                            prop="customerName"
                    ></el-table-column>
                    <el-table-column
                            label="移动电话"
                            prop="phone"
                    ></el-table-column>
                    <el-table-column
                            label="报修时间"
                            prop="repairTime"
                    ></el-table-column>
                    <el-table-column
                            label="产品类型"
                            prop="deviceType"
                    ></el-table-column>
                    <el-table-column
                            label="品牌"
                            prop="deviceBrand"
                    ></el-table-column>
                </el-table>
            </el-col>
        </el-row>
    </div>
</template>
<script>
    var reportInfoFilter = {
        template: '#reportInfoFilter',
        data: function (){
            return {
                loading: true,
                customerName: '',
                phone: '',
                reportTime: '',
                reportData: [],
                reportDataCount: 0,
            }
        },
        methods: {
            handleCurrentChange :function (currentRow) {
                this.$emit('post-row',currentRow);
            },
            handleSearch: function (){
                this.loading = true;
                var param = new URLSearchParams();
                param.append('customerName',this.customerName);
                param.append('phone',this.phone);
                param.append('repairTime',this.reportTime);
                param.append('currentPage',1);
                var that = this;
                axios.post('../getMaintenanceReport',param).then(function (response){
                    var data = JSON.parse(response.data).data;
                    that.reportData.length = 0;
                    for(var i = 0; i < data.length; i++){
                        var report = {
                            customerName: data[i].customer.customerName,
                            phone: data[i].customer.phone,
                            repairTime: new Date(data[i].repairTime).toLocaleDateString(),
                            deviceType: data[i].device.type,
                            deviceBrand: data[i].device.brand,
                            customerInfo: {
                                customerId: data[i].customer.id,
                                customerName: data[i].customer.customerName,
                                phone: data[i].customer.phone,
                                idcard: data[i].customer.idcard,
                                customerType: data[i].customer.customerType,
                                companyName: data[i].customer.companyName,
                                email: data[i].customer.email,
                                address: data[i].customer.address,
                            },
                            deviceInfo: {
                                deviceId: data[i].device.id,
                                deviceType: data[i].device.type,
                                deviceBrand: data[i].device.brand,
                                deviceModel: data[i].device.model,
                                deviceSeries: data[i].device.seriesNum,
                                faultType: data[i].device.faultType,
                                hdd: data[i].device.hdd,
                                ram: data[i].device.memery,
                                ACadapter: data[i].device.acAdapter,
                                battery: data[i].device.battery,
                                CDROM: data[i].device.opticalDrive
                            },
                            reportInfo: {
                                reportId: data[i].id,
                                reportTime: new Date(data[i].repairTime).toLocaleDateString(),
                                estimateCompleteTime: new Date(data[i].expectedTime).toLocaleDateString(),
                                reportStatus: data[i].status,
                            }
                        }
                        that.reportData.push(report);
                    }
                    that.reportDataCount = +(JSON.parse(response.data).message);
                    that.loading = false;
                });
            }
        },
        created() {
            this.handleSearch();
        }
    }
</script>

<!-- 新建报修记录功能模块
     组件：1.用户信息显示组件
          2.用户筛选器组件
          3.设备信息组件
          4.报修信息组件
-->
<template id="newMaintenanceReport">
    <div>
        <el-row :gutter="20">
            <el-col :span="20">
                <el-row>
                    <el-col :span="22">
                        <h2>新的报修记录</h2>
                    </el-col>
                    <el-col :span="2">
                        <el-button type="success" @click="handleClick"> 提 交 </el-button>
                    </el-col>
                </el-row>
                <hr>
                <el-row>
                    <el-col :span="20">
                        <h3>用户信息</h3>
                    </el-col>
                    <el-col :span="4">
                        <el-button type="primary" @click="showCustomerFilter">选择客户</el-button>
                    </el-col>
                </el-row>
                <customer-info-readonly
                        :info="customerInfoData"
                ></customer-info-readonly>
                <el-row>
                    <el-col :span=24>
                        <div
                                v-show="visible.filterContainer.value"
                                :style="style.filterContainer">
                            <h3>查找用户信息</h3>
                            <hr>
                            <customer-filter
                                    @post-row="handleRow"
                            ></customer-filter>
                        </div>
                    </el-col>
                </el-row>
                <h3>设备信息</h3>
                <device-info
                        @post-device-info="handleDeviceInfo"
                ></device-info>
                <h3>报修信息</h3>
                <report-info
                        @post-report-info="handleReportInfo"
                ></report-info>
            </el-col>
        </el-row>
    </div>
</template>
<script>
    var newMaintenanceReport = {
        template: '#newMaintenanceReport',
        components: {
            'customer-info-readonly': customerInfoReadOnly,
            'customer-filter': customerFilter,
            'device-info': deviceInfo,
            'report-info': reportInfo
        },
        data: function (){
            return{
                customerInfoData: {},
                deviceInfoData: {},
                reportInfoData: {},
                visible: {
                    filterContainer: { value: false}
                },
                style: {
                    filterContainer: {
                        padding: '20px',
                        boxShadow: '0 2px 12px 0 rgba(0, 0, 0, 0.1)'
                    }
                }
            }
        },
        methods: {
            showCustomerFilter: function (){
                this.visible.filterContainer.value = true;
            },
            handleRow: function (info){
                this.customerInfoData = info;
                this.visible.filterContainer.value = false;
            },
            handleDeviceInfo: function (info){
                this.deviceInfoData = info;
            },
            handleReportInfo: function (info){
                this.reportInfoData = info;
            },
            handleClick: function (){
                console.log(this.customerInfoData);
                console.log(this.deviceInfoData);
                console.log(this.reportInfoData);
                var parma = new URLSearchParams();
                parma.append('customerId',this.customerInfoData.id);
                parma.append('expectedTime',this.reportInfoData.estimateCompleteTime);
                parma.append('type',this.deviceInfoData.deviceType);
                parma.append('brand',this.deviceInfoData.deviceBrand);
                parma.append('model',this.deviceInfoData.deviceModel);
                parma.append('seriesNum',this.deviceInfoData.deviceSeries);
                parma.append('faultType',this.deviceInfoData.faultType);
                parma.append('hdd',this.deviceInfoData.hdd);
                parma.append('memery',this.deviceInfoData.ram);
                parma.append('acAdapter',this.deviceInfoData.ACadapter);
                parma.append('battery',this.deviceInfoData.battery);
                parma.append('opticalDrive',this.deviceInfoData.CDROM);

                axios.post("/Devices/addMaintenanceReport",parma).then(function (response) {
                    console.log(response.data);
                });
            }
        }
    }
</script>

<!-- 维护报修记录功能模块
     组件：1.报修记录筛选器组件
          2.用户信息显示组件
          3.设备信息组件
          4.报修信息组件
-->
<template id="manipulateMaintenanceReport">
    <div>
        <el-row>
            <el-col :span="20">
                <div :style="style.container">
                    <report-info-filter @post-row="handleRow"></report-info-filter>
                </div>
                <div :style="style.container" v-show="visible.editor.value">
                    <el-row :gutter="20">
                        <el-col :span="18">
                            <h3>编辑</h3>
                        </el-col>
                        <el-col :span="2">
                            <el-button type="primary" plain size="small" @click="handleUpdate">保存更改</el-button>
                        </el-col>
                        <el-col :span="2">
                            <el-button type="primary" plain size="small" @click="handlePrint">打印确认单</el-button>
                        </el-col>
                        <el-col :span="2">
                            <el-button type="primary" plain size="small" @click="handleConfirm">确认报修</el-button>
                        </el-col>
                    </el-row>
                    <h4>客户信息</h4>
                    <customer-info-readonly :info="customerInfoData"></customer-info-readonly>
                    <h4>设备信息</h4>
                    <device-info
                            :info="deviceInfoData"
                            @post-device-info="handleDeviceInfo"
                    ></device-info>
                    <h4>报修信息</h4>
                    <report-info
                            :info="reportInfoData"
                            @post-report-info="handleReportInfo"
                    ></report-info>
                </div>
            </el-col>
        </el-row>
    </div>
</template>
<script>
    var manipulateMaintenanceReport = {
        template: '#manipulateMaintenanceReport',
        components: {
            'report-info-filter': reportInfoFilter,
            'customer-info-readonly': customerInfoReadOnly,
            'device-info': deviceInfo,
            'report-info': reportInfo
        },
        data: function () {
            return {
                style: {
                    container: {
                        margin: '20px',
                        padding: '20px',
                        boxShadow: '0 2px 12px 0 rgba(0, 0, 0, 0.1)'
                    }
                },
                visible:{
                    editor:{value: false}
                },
                customerInfoData: {},
                deviceInfoData: {},
                reportInfoData: {}
            }
        },
        methods: {
            handleRow: function (row){
                this.customerInfoData = row.customerInfo;
                this.deviceInfoData = row.deviceInfo;
                this.reportInfoData = row.reportInfo;
                this.visible.editor.value = true;
            },
            handleDeviceInfo: function (info){
                this.deviceInfoData = info;
            },
            handleReportInfo: function (info){
                this.reportInfoData = info;
                console.log(info);
            },
            handleUpdate: function (){
                var param  = new URLSearchParams();
                param.append('repairRecordId',this.reportInfoData.reportId);
                param.append('reportTime',this.reportInfoData.reportTime);
                param.append('estimateCompleteTime',this.reportInfoData.estimateCompleteTime);
                param.append('reportStatus',this.reportInfoData.reportStatus);
                param.append('deviceId',this.deviceInfoData.deviceId);
                param.append('deviceType',this.deviceInfoData.deviceType);
                param.append('deviceModel',this.deviceInfoData.deviceModel);
                param.append('deviceSeries',this.deviceInfoData.deviceSeries);
                param.append('faultType',this.deviceInfoData.faultType);
                param.append('hdd',this.deviceInfoData.hdd);
                param.append('ram',this.deviceInfoData.ram);
                param.append('ACadapter',this.deviceInfoData.ACadapter);
                param.append('battery',this.deviceInfoData.battery);
                param.append('CDROM',this.deviceInfoData.CDROM);
                axios.post('../editMaintenanceReport',param).then(function (response){

                })
                this.visible.editor.value = false;
            },
            handlePrint: function (){

            },
            handleConfirm: function (){
                var param = new URLSearchParams();
                param.append('repairRecordId',this.reportInfoData.reportId);
                axios.post('../postConfirmationForm',param).then(function (response){

                });
                this.visible.editor.value = false;
            }

        },

    }
</script>
<!-- 新建客户信息功能模块
     组件：1.用户信息组件
-->
<template id="newCustomerInfo">
    <div>
        <el-row>
            <el-col :span="20">
                <el-row>
                    <el-col :span="22">
                        <h2>新的客户信息</h2>
                    </el-col>
                    <el-col :span="2">
                        <el-button type="success" @click="handleClick"> 提 交 </el-button>
                    </el-col>
                </el-row>
                <hr>
                <customer-info @post-customer-info="handleCustomerInfo"></customer-info>
            </el-col>
        </el-row>
    </div>
</template>
<script>
    var newCustomerInfo = {
        template: '#newCustomerInfo',
        components: {
            'customer-info': customerInfo
        },
        data: function (){
            return {
                info: {}
            }
        },
        methods: {
            handleCustomerInfo: function (info){
                this.info = info;
                //console.log(this.info);
            },
            handleClick: function (){
                console.log(this.info);
                axios.post("/Devices/addCustomer",this.info).then(function (response) {
                    console.log(response);
                })
            }
        }
    }
</script>

<!-- 维护用户信息功能模块
     组件：1.用户筛选器组件
          2.用户信息组件
 -->
<template id="manipulateCustomerInfo">
    <div>
        <el-row :gutter="20">
            <el-col :span="20">
                <h3>搜索用户信息</h3>
                <hr>
                <customer-filter
                        @post-row="handlePostRow">
                </customer-filter>
            </el-col>
        </el-row>
        <br>
        <el-row>
            <el-col :span="20">
                <div
                        v-show="visible.filterContainer.value"
                        :style="style.filterContainer">
                    <h3>维护用户信息</h3>
                    <hr>
                    <customer-info
                            :info="info"
                            @post-customer-info="handleInfo">
                    </customer-info>
                    <br>
                    <el-button type="success" @click="handleSave">保存</el-button>
                    <el-button type="danger" @click="handleDelete">删除</el-button>
                    <el-button plain @click="handleClose">关闭</el-button>
                </div>
            </el-col>
        </el-row>
    </div>
</template>
<script>
    var manipulateCustomerInfo = {
        template: '#manipulateCustomerInfo',
        components: {
            'customer-filter': customerFilter,
            'customer-info': customerInfo
        },
        data: function (){
            return {
                info: {},//用户信息组件的数据源
                visible: {
                    filterContainer: { value: false}
                },
                style: {
                    filterContainer: {
                        padding: '20px',
                        boxShadow: '0 2px 12px 0 rgba(0, 0, 0, 0.1)'
                    }
                }
            }
        },
        methods: {
            handlePostRow: function (info){
                this.info = info;
                this.visible.filterContainer.value = true;
                //console.log("handlePostRow");
                //console.log(this.info);
            },
            handleInfo: function (info){
                this.info = info;
            },
            handleSave: function (){
                console.log(this.info);
                this.visible.filterContainer.value = false;
                var that = this;
                axios.post("/Devices/updateCustomer",this.info).then(function (response) {
                    console.log(response);
                })
            },
            handleDelete: function (){
                console.log(this.info);
                this.visible.filterContainer.value = false;
            },
            handleClose: function (){
                this.visible.filterContainer.value = false;
            }
        }
    }
</script>
<!-- 导航栏模块 -->
<template id="navBar">
    <div>
        <el-menu
            @select="handleSelect"
            background-color="#545c64"
            text-color="#fff"
            active-text-color="#ffd04b"
            :style="{border: '0'}">
            <el-submenu index="1">
                <template slot="title">
                    <i class="el-icon-location"></i>
                    <span>客户管理</span>
                </template>
                <el-menu-item index="1-1">
                    <span>添加新客户</span>
                </el-menu-item>
                <el-menu-item index="1-2">
                    <span>维护客户信息</span>
                </el-menu-item>
            </el-submenu>
            <el-submenu index="2">
                <template slot="title">
                    <i class="el-icon-location"></i>
                    <span>报修管理</span>
                </template>
                <el-menu-item index="2-1">
                    <span>添加新报修信息</span>
                </el-menu-item>
                <el-menu-item index="2-2">
                    <span>维护报修信息</span>
                </el-menu-item>
            </el-submenu>
            <el-menu-item index="3">
                <i class="el-icon-location"></i>
                <span>登记结算信息</span>
            </el-menu-item>
        </el-menu>
    </div>
</template>
<script>
    var navBar = {
        template: '#navBar',
        data: function (){
            return {
                selected: ''
            }
        },
        methods: {
            handleSelect: function (index){
                this.selected = index;
                this.$emit('select-change',this.selected);
                console.log(this.selected);
            }
        }

    }
</script>
<!-- vue实例 -->
<script>
    var app = new Vue({
        el: '#app',
        components: {
            'nav-bar': navBar,
            'new-maintenance-report': newMaintenanceReport,
            'new-customer-info': newCustomerInfo,
            'manipulate-customer-info': manipulateCustomerInfo,
            'manipulate-maintenance-report': manipulateMaintenanceReport
        },
        data: {
            activeComponentName: ''
        },
        methods: {
            handleSelectChange: function (selected){
                console.log(selected);
                if(selected == '1-1') {
                    this.activeComponentName = 'new-customer-info';
                }
                if(selected == '1-2') {
                    this.activeComponentName = 'manipulate-customer-info'
                }
                if(selected == '2-1') {
                    this.activeComponentName = 'new-maintenance-report'
                }
                if(selected == '2-2') {
                    this.activeComponentName = 'manipulate-maintenance-report'
                }
            }
        },
        mounted(){
            this.activeComponentName = 'new-customer-info'
        }
    })
</script>
</body>
</html>